.intro-text {
  text-align: center;
  padding: 50px;
  background: #fff8f9;
  border-radius: 30px;
  margin: 40px auto;
  max-width: 900px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 6px 18px rgba(181, 114, 129, 0.25);
}

.intro-text strong {
  color: #b57281;
}

.intro-text p {
  font-size: 1.1rem;
  color: #4b2b2f;
  margin: 12px 0;
}

.quote {
  margin-top: 25px;
  font-style: italic;
  color: #a25968;
  font-weight: 500;
}
