body {
  margin: 0;
  background-color: #fff9fa;
  color: #4b2b2f;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
}
